{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
</head>

<body>
    <header class="header">
        <nav class="navig h-nav-resp">
            <a href="/"><img src="{% static 'Images/logo.png' %}" alt="Logo" class="logo"></a>
            <ul class="navul v-class-resp">
                <li class="navc"><a href="/">Home</a></li>
                <li class="navc"><a href="#about">About</a></li>
                <li class="navc"><a href="#contact-us">Contact Us</a></li>
                <!-- <li class="navc"><a href="/inventory">Inventory</a></li>
                <li class="navc"><a href="/transactions">Transactions</a></li> -->
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <section class="home-section">
        <div class="home-content">
            <h1 class="home-head">Inventory Management System</h1>
            <p class="home-subhead">Our platform is a system that helps businesses of all sizes manage their inventory
                efficiently. It tracks products and keeps them in stock.</p>
            <a href="/accounts/signup"><button class="home-btn">Get Started</button></a>
        </div>
        <img src="{% static 'Images/inventory.jpg' %}" alt="Inventory Illustration" class="inventoryIllustration">
    </section>

    <section class="about-section" id="about">
        <h1 class="title">About Us</h1>
        <p class="description">
            At our platform, we understand the importance of efficient inventory management for businesses of all sizes.
            Our system is designed to streamline the process of tracking products, ensuring you always have the right
            items in stock when you need them.
        </p>
        <div class="features">
            <div class="feature">
                <h2 class="feature-title">Low Stock Alerts</h2>
                <p class="feature-description">Never run out of essential items again. Our platform automatically alerts
                    you when products are running low, allowing you to replenish stock levels before it becomes a
                    problem.</p>
            </div>
            <div class="feature">
                <h2 class="feature-title">Real-Time Stock Status</h2>
                <p class="feature-description">Gain valuable insights into your inventory with up-to-date information on
                    the current stock levels of all your products.</p>
            </div>
            <div class="feature">
                <h2 class="feature-title">Transaction History</h2>
                <p class="feature-description">Keep track of all inventory movements with our comprehensive transaction
                    history feature.</p>
            </div>
        </div>
        <a href="/accounts/signup"><button class="abt-btn">Log In</button></a>
    </section>

    <section class="contact-section" id="contact-us">
        <div class="container">
            <h1>Contact Us</h1>
            <form id="contact-form" class="contact-form" action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>Developed by Sharan M & Suhas K A</p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                    <!-- <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/transactions">Transactions</a></li> -->
                </ul>
            </nav>
            <p>Inventory Management System</p>
        </div>
    </footer>

    <script src="{% static 'script.js' %}" type="text/javascript"></script>
</body>

</html>