{% extends "base.html" %}


{% block title %} Delete Stock {% endblock title %}
<style>
    .dltTitle {
        color: #002770;
        font-style: bold;
        font-size: 3rem;
        border-bottom: 1px solid white;
    }

    .btn {
        padding: 10px 15px 15px 10px;
        border-radius: 50px;
        font-size: 16px;
    }

    .btn:hover {
        cursor: pointer;
    }

    .ghost-red {
        background-color: rgb(255, 84, 84);
        color: white;
    }
    
    .ghost-red:hover {
        background-color: rgb(255, 135, 135);
    }

    .ghost-button {
        background-color: rgb(161, 161, 161);
        color: white;
    }
    
    .ghost-button:hover {
        background-color: rgb(211, 211, 211);
    }
</style>

{% block content %}

<form method="post">

    {% csrf_token %}

    <fieldset class="form-group">
        <div class="dltTitle">Delete Stock</div> <br>
        <h2>Are you sure you want to delete this stock item?</h2>
    </fieldset>

    <div class="form-group">
        <button type="submit" class="btn ghost-red">Yes, Delete</button>
        <a href="{% url 'inventory' %}" class="btn ghost-button">Cancel</a>
    </div>

</form>

{% endblock content %}