body {
    font-family: Arial, sans-serif;
    background-color: #f3f6ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    color: #00143c;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #7499f1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #a3bfff;
}

.link {
    color: #00143c;
    text-decoration: underline;
    font-size: 12px;
    display: block;
}

.logout {
    position: absolute;
    text-decoration: underline;
    top: 20px;
    right: 20px;
    color: #333;
    display: block;
}