{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System | Feedbacks</title>
    <link rel="stylesheet" href="{% static 'feedbacks.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
</head>

<body>
    <header class="header">
        <nav class="navig h-nav-resp">
            <a href="/dashboard"><img src="{% static 'Images/logo.png' %}" alt="Logo" class="logo"></a>
            <div class="navs">
                <ul class="navul v-class-resp">
                    <li class="navc"><a href="/dashboard">Dashboard</a></li>
                    <li class="navc"><a href="/inventory">Inventory</a></li>
                    <li class="navc"><a href="/transactions">Transactions</a></li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="navc"><a href="/feedbacks">Feedbacks</a></li>
                    {% endif %}
                </ul>
                <div class="logout navig" onclick="logout()">Log out</div>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <section class="main-content">
        <div class="table">
            <table class="productTable">
                <tr>
                    <th class="tableHead">Name</th>
                    <th class="tableHead">Email</th>
                    <th class="tableHead">Message</th>
                    <th class="tableHead">Date & Time</th>
                </tr>
                {% for feedback in feedbacks %}
                <tr>
                    <td class="tableData">{{ feedback.name }}</td>
                    <td class="tableData">{{ feedback.email }}</td>
                    <td class="tableData">{{ feedback.message }}</td>
                    <td class="tableData">{{ feedback.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>Developed by Sharan M</p>
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/transactions">Transactions</a></li>
                </ul>
            </nav>
            <p>Inventory Management System</p>
        </div>
    </footer>
    <script src="{% static 'feedbacks.js' %}" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/89af5da05d.js" crossorigin="anonymous"></script>
</body>

</html>