/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'worksans';
}

html {
    scroll-behavior: smooth;
}

/* Navigation Section */
.header {
    /* background-color: #dcf8ff; */
    background-color: #cfdeffbe;
    /* filter: blur(4px); */
    backdrop-filter: blur(6px);
    padding: 5px;
    width: 100%;
    position: fixed;
}

.logo {
    padding: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.navig {
    display: flex;
    align-items: center;
}

.navul {
    display: flex;
}

.navc {
    list-style: none;
    padding: 8px;
    margin: 5px;
}

.navc a {
    text-decoration: none;
    color: #00143c;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
}

.navc a:hover {
    color: #003db8;
}

.burger {
    width: 33px;
    height: 33px;
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 15px;
}

.line {
    background-color: white;
    width: 33px;
    height: 4px;
    margin: 5px 5px;
}

.navs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginAnchor {
    text-decoration: none;
    background-color: #000d26;
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 50px;
    color: #edf3ff;
    display: block;
    margin: 10px;
}

.loginAnchor:hover {
    background-color: #00266d;
    cursor: pointer;
}

/* Home section */

.home-section {
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.home-head {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    color: #00143c;
}

.home-subhead {
    text-align: center;
    margin-bottom: 20px;
    color: #00143c;
}

.home-btn {
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    background-color: #7499f1;
    color: white;
    border: none;
    font-size: 16px;
}

.home-btn:hover {
    background-color: #a3bfff;
    cursor: pointer;
}

.inventoryIllustration {
    width: 50%;
}

/* About section */

.about-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f6ff;
    border-radius: 10px;
    min-height: 100vh;
    text-align: center;
}

.title {
    color: #00143c;
    margin-bottom: 10px;
    font-size: 40px;
}

.description {
    color: #00143c;
    margin-bottom: 10px;
    font-size: 16px;
    width: 80%;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.feature {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.feature-title {
    color: #00143c;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.feature-description {
    color: #00143c;
    text-align: center;
    font-size: 16px;
}

.abt-btn {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: #7499f1;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 40px;
}

.abt-btn:hover {
    background-color: #a3bfff;
    cursor: pointer;
}

/* Contact Section */

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f3f6ff;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #00143c;
    font-size: 40px;
}

.contact-form {
    text-align: left;
    color: #00143c;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e3eaff;
    border-radius: 15px;
    resize: none;
}

button[type="submit"] {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: #7499f1;
    color: white;
    border: none;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #a3bfff;
    cursor: pointer;
}


/* Footer */

footer {
    background-color: #000d26;
    color: #a2c1ff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content nav ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content nav ul li a {
    text-decoration: none;
    color: #a2c1ff;
    font-size: 16px;
}

.footer-content nav ul li a:hover {
    color: #dfeaff;
}

.footer-content p {
    margin: 5px 0;
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    .home-head {
        font-size: 30px;
    }

    .home-subhead {
        font-size: 14px;
    }

    .home-btn {
        font-size: 14px;
    }

    .inventoryIllustration {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .footer-content nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1024px) {
    .features {
        width: 100%;
    }

    .home-section {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 600px) {
    .feature {
        flex-basis: 100%;
    }

    .inventoryIllustration {
        width: 100%;
    }
}

@media only screen and (max-width: 790px) {

    /*Navigation section */
    .logo {
        position: absolute;
        left: 5%;
    }

    .navul {
        flex-direction: column;
        /* opacity: 1;
        height: 287px;
        transition: all 0.5s ease-out; */
        /* transition-delay: 0.3s; */
    }

    .header {
        justify-content: center;
        align-items: center;
    }

    .navig {
        height: 287px;
        flex-direction: column;
        transition: all 0.15s ease-out;
    }

    .burger {
        display: block;
    }

    .menu {
        width: 70px;
        height: 30px;
    }

    .h-nav-resp {
        height: 54px;
        /* opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-out; */
    }

    .v-class-resp {
        /* height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out; */
        /* transition-delay: 0.3s; */
        display: none;
    }

    .navs {
        justify-content: right;
        margin-right: 30%;
        position: absolute;
    }

    .loginAnchor {
        font-size: 14px;
    }

}